body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .header{
    background-color: black;
    height: 140px;
  }
  .taskname{
    color: white;
    margin:0;
  }
  .nameH2{

  }
  .info_resume{
    display: flex;
  }
  .photo{
    flex: 0 0 30%;
  }
  .resume{
    flex: 0 0 70%;
  }
  .photo img{
    max-width: 100%;
  } 
  